<!-- Navigation for Physics Topics -->
<nav class="physics-nav">
        <h3>Блок 1. Физика атмосферы</h3>
        <ul>
                <li><a href="{{ '/notes.html' | relative_url }}">Просмотр заметок</a></li>
                <li><a href="{{ '/Блок 1. «Физика атмосферы»/1.1. Тема «Строение, состав, свойства атмосферы».html' | relative_url }}">1.1.
                                Строение, состав, свойства атмосферы</a></li>
                <li><a href="{{ '/Блок 1. «Физика атмосферы»/1.2. Тема «Статика и термодинамика атмосферы».html' | relative_url }}">1.2.
                                Статика и термодинамика атмосферы</a></li>
                <li><a href="{{ '/Блок 1. «Физика атмосферы»/1.3. Тема «Лучистая энергия в атмосфере».html' | relative_url }}">1.3.
                                Лучистая энергия в атмосфере</a></li>
                <li><a href="{{ '/Блок 1. «Физика атмосферы»/1.4. Тема «Тепловой режим почвы и атмосферы».html' | relative_url }}">1.4.
                                Тепловой режим почвы и атмосферы</a></li>
                <li><a href="{{ '/Блок 1. «Физика атмосферы»/1.5. Тема «Физика воды в трех фазовых состояниях».html' | relative_url }}">1.5.
                                Физика воды в трех фазовых состояниях</a></li>
                <li><a href="{{ '/Блок 1. «Физика атмосферы»/1.6. Тема «Оптические и электрические явления в атмосфере. Акустика атмосферы».html' | relative_url }}">1.6.
                                Оптические и электрические явления в атмосфере. Акустика атмосферы</a></li>
                <li><a href="{{ '/Блок 1. «Физика атмосферы»/1.7. Тема «Ионосфера, ее основные характеристики».html' | relative_url }}">1.7.
                                Ионосфера, ее основные характеристики</a></li>
        </ul>
</nav>